* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

#layout-wrapper {
    max-width: 100%;
    width: 1200px;
    display: grid;
    gap: 10px;
    grid-template:
    "header header header"
    "nav nav nav"
    "aside-left main aside-right"
    "footer footer footer"
    / 1fr 4fr 1fr;
}

#layout-header {
    grid-area: header;
}

#layout-nav {
    grid-area: nav;
}

#layout-nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#layout-aside-left {
    grid-area: aside-left;
}

#layout-main {
    grid-area: main;
}

#layout-aside-right {
    grid-area: aside-right;
}

#layout-footer {
    grid-area: footer;
}