/* Imports */

@import url(./normalize/modern-normalize.css);


/* Custom fonts */

@font-face {
    font-family: AdwaitaMono;
    src: url(./fonts/AdwaitaMono-Regular.ttf);
}


/* Overall page */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: AdwaitaMono;
    line-height: 1.6;
    max-width: 102ch;
    margin: 4lh auto;
    color: #444;
}


/* Custom TUI-like box thing */

.box {
    @property --section {
        syntax: "<string>";
        inherits: false;
        initial-value: "WHUG?!?"
    }

    position: relative;
    padding: 1lh 2ch;
    margin-top: 1lh;

    &::before {
        content: var(--section);
        position: absolute;
        translate: -1ch -1lh;
        background-color: white;
        padding: 0 1ch;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: calc(100% - 1ch - 1px);
        height: calc(100% - 1lh - 1px);
        border: solid 1px;
        z-index: -1;
    }
}


/* Page sections */

header {
    --section: "Header";
}

nav {
    --section: "Navigation";
}

#navlist {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    gap: 2ch;
}

aside {
    --section: "Aside";
    width: 20ch;
}

main {
    --section: "Main";
    width: 80ch;
}

footer {
    --section: "Footer";
}


/* Links */

a {
    color: #444;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}