/* Imports */

@import url(./normalize/modern-normalize.css);


/* Custom fonts */

@font-face {
    font-family: AdwaitaMono;
    src: url(./fonts/AdwaitaMono-Regular.ttf);
}


/* Overall page */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: AdwaitaMono;
    font-size: 15px;
    line-height: 1.6;
    max-width: 102ch;
    margin: 4lh auto;
    color: #444;
}


/* Custom TUI-like box thing */

#header-tag {
    position: relative;
    width: 6ch;
    height: 1lh;
    margin-bottom: -1lh;
    margin-left: 2ch;
    background: white;
    z-index: 1;
    border: 1px solid #444;
}

.box {
    @property --section {
        syntax: "<string>";
        inherits: false;
        initial-value: "WHUG?!?";
    };
    
    position: relative;
    padding: calc(1lh - 1px) calc(2ch - 1px);
    margin-bottom: 1lh;
    border: 1px solid #444;
}


/* Page sections */

header {
    --section: "Header";
}

nav {
    --section: "Navigation";
}

#navlist {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    gap: 2ch;
}

aside {
    --section: "Aside";
    width: 20ch;
}

main {
    --section: "Main";
    width: 80ch;
}

footer {
    --section: "Footer";
}


/* Links */

a {
    color: #444;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}