<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}{% if title !== "codazen's couch" %} | codazen's couch{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Codazen's funny little corner of the internet">
        <link rel="favicon" href="">
        <link rel="stylesheet" href="/assets/css/base.css">
    </head>
    <body>
        <header class="box">
            <p>Header</p>
            Hello! I'm codazen. I'm working on this silly little site for my silly little projects. Catch you along the way :>
        </header>

        <nav class="box">
            <p>Navigation</p>
            <ul id="navlist">
                <li><a href="/">Home</a></li>
                <li><a href="/musings/">Musings</a></li>
                <li><a href="/outgoing-links/">Outgoing Links</a></li>
                <li><a href="/useful-links/">Useful Links</a></li>
                <li><a href="/todo/">Todo</a></li>
                {# <li><a href="/sitemap/">Sitemap</a></li> #}
            </ul>
        </nav>
        
        <div id="content">
            <aside class="box">
                <p>Sidebar</p>
                idk
            </aside>

            <main class="box">
                <p>Main</p>
                {{ content | safe }}
            </main>
        </div>

        <footer class="box">
        <p>Footer</p>
            Copyright me or whatever
        </footer>
    </body>
</html>